:root {
    --colorRGB: rgb(88,100,145,85);
}

.contend-form{
    font-family: 'Courier New', Courier, monospace;
    background-color: transparent;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    padding: 20px;
    box-shadow: 0 4px 8px blue;


}
